<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>MeetAFriend</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
  </head>

  <body>
       <header>
       </header>
       <div class="main-container">
       		<span th:if="${ideas.empty}">No Ideas Available</span>
       		<table>
       			<tr>
       				<th>
       					id
       				</th>
       				<th>
       					name
       				</th>
       			</tr>
       			<tr th:each="idea:${ideas}">
       				<td>
       					<span th:text="${idea.getId()}"></span>
       				</td>
       				<td>
       					<span th:text="${idea.getName()}"></span>
       				</td>
       			</tr>
       		</table>
       </div>
       <footer>
       </footer>
  </body>
</html>